.container {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    color: #fff !important;
    letter-spacing: 0.2px !important;
    max-height: 100% !important;
    /* z-index: 999 !important; */
}

.login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    min-width: 280px;
}
